.container {
  position: relative;
}

.container,
#interactive.viewport {
  width: 70vw;
  height: 20vh;
  margin: 0 auto;
}

#interactive.viewport canvas,
video {
  width: 70vw;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 70vw;
  height: 20vh;
}
