.container {
  position: relative;
}

.container,
#interactive.viewport {
  width: 200px;
  height: 140px;
}

#interactive.viewport canvas,
video {
  width: 200px;
  height: 140px;
  position: absolute;
  top: -10px;
  left: 55px;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 200px;
  height: 140px;
}
